<a href="https://colab.research.google.com/github/chasubeen/ESAA/blob/main/%EC%A0%90%ED%94%84%20%ED%88%AC%20%ED%8C%8C%EC%9D%B4%EC%8D%AC_%203%2C%204%EC%9E%A5%20%EC%97%B0%EC%8A%B5%EB%AC%B8%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **자료형**

##Q1. 다음 수의 평균을 구하세요.

80, 75, 55, 95

In [1]:
numbers = [80, 75, 55, 95]
sum(numbers) / len(numbers)

76.25

##Q2. 주민등록번호를 연월일(YYYYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력하세요.
홍길동 씨의 주민등록번호는 881120-1068234이다.

In [2]:
# 답을 작성해주세요

id_Hong = "881120-1068234"
print(id_Hong.split('-'))

['881120', '1068234']

##Q4. 주민등록번호에서 성별을 나타내는 숫자를 출력하세요.
주민등록번호 뒷자리의 첫 번째 숫자는 성별을 나타낸다.

In [3]:
# 답을 작성해주세요
id_pin = "881120-2153468"
print(id_pin.split('-')[1][0]) # id_pin.split('-')[1] --> 주민등록번호 뒷자리 7개
                              # 그 중 제일 앞에 거

2

##Q5. [1, 3, 5, 4, 2] 리스트를 [5, 4, 3, 2, 1]로 정렬하세요

In [23]:
# 답을 작성해주세요
rand_list = [1, 3, 5, 4, 2]
sorted(rand_list,reverse = True)

[5, 4, 3, 2, 1]

In [24]:
print(rand_list.sort(reverse = True))
print(rand_list)

 # sort 함수를 사용하면 원본 리스트 자체가 정렬되고, sorted 함수를 사용하면 정렬된 리스트를 반환해준다.
 # sort 함수를 사용하는 경우 반환값이 없음

None
[5, 4, 3, 2, 1]

##Q7. 다음 리스트를 Life is too short 문자열로 만들어 출력하세요

In [21]:
# 답을 작성해주세요

string_list = ['Life', 'is', 'too', 'short'] 
sentence = ""
for word in string_list:
  sentence = sentence + word + " "

print(sentence)

Life is too short

In [ ]:
# 빈 문자열 + join -> 단어 이어붙일 수 있음

# **제어문**

## Q1. 다음 코드의 결과는?
```python
a = "Life is too short, you need python"

if "wife" in a: print("wife")
elif "python" in a and "you" not in a: print("python")
elif "shirt" not in a: print("shirt")
elif "need" in a: print("need")
else: print("none")
```

# 답을 작성해주세요
shirt

In [7]:
# 실행

a = "Life is too short, you need python"

if "wife" in a: print("wife")
elif "python" in a and "you" not in a: print("python")
elif "shirt" not in a: print("shirt") # < -- 여기서 조건문을 빠져나오게 된다.
elif "need" in a: print("need")
else: print("none")

shirt

##Q2. while문을 사용해 1부터 1000까지의 자연수 중 3의 배수의 합을 구하세요

In [26]:
num = 1
hap = 0

while num < 1001: # 1000까지는 들어가야 한다.
  if num % 3 == 0:
    hap += num
  num += 1
  
print(hap)

166833

## Q3. while문을 사용하여 다음과 같이 별(*)을 표시하는 프로그램을 작성하세요

![image.png]()

In [28]:
# 답을 작성해주세요

# 조건 확인 <-- while문이다..

for i in range(5):
  print("*" * i) # 문자열에 숫자를 곱하면 '반복'의 의미

*
**
***
****

In [29]:
i = 1
while i <= 5:
  print("*" * i)
  i += 1

*
**
***
****
*****

## Q4. for문을 사용해 1부터 100까지의 숫자를 출력하세요

In [10]:
# 답을 작성해주세요

for i in range(1,101):
  print(i, end = ' ')
  # 이건 그냥 보기 좋을려고 넣은 부분!
  if i % 10 == 0:
    print()

1 2 3 4 5 6 7 8 9 10
11 12 13 14 15 16 17 18 19 20
21 22 23 24 25 26 27 28 29 30
31 32 33 34 35 36 37 38 39 40
41 42 43 44 45 46 47 48 49 50
51 52 53 54 55 56 57 58 59 60
61 62 63 64 65 66 67 68 69 70
71 72 73 74 75 76 77 78 79 80
81 82 83 84 85 86 87 88 89 90
91 92 93 94 95 96 97 98 99 100

##Q5. for문을 사용하여 평균을 구하세요.

A 학급에 총 10명의 학생이 있다. 이 학생들의 중간고사 점수는 다음과 같다.

[70, 60, 55, 75, 95, 90, 80, 80, 85, 100]

In [11]:
# 답을 작성해주세요

scores = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
total = 0

for score in scores:
  total += score

print(total / len(scores))

79.0

##Q6. number list에서 홀수에만 2를 곱해 결과를 result에 저장한 후 출력하세요

In [12]:
numbers = [1, 2, 3, 4, 5]
result = []

for num in numbers:
  if num % 2 == 0: # 짝수
    result.append(num) # 그대로
  else: # 홀수
    result.append(num * 2) # 2 곱해서

print(result)

[2, 2, 6, 4, 10]

# **함수와 입출력**

##Q1. 주어진 자연수가 홀수인지 짝수인지 판별하는 함수를 작성하세요

In [13]:
# 답을 작성해주세요
def is_odd(a):
  if a % 2 != 0:
    print("Yes")
  else:
    print("No")

### 테스트
is_odd(1)
is_odd(0)

Yes
No

##Q2. 입력으로 들어오는 모든 수의 평균을 계산해주는 함수를 작성하고 실행하세요
(입력으로 들어오는 수의 개수는 랜덤입니다.)

In [14]:
# 답을 작성해주세요


def average_rand(n):
  return sum(n) / len(n) # 나중에 numpy를 배우면 np.mean()을 써도 됩니다!
                         # (사실 처음에 냅다 mean() 썼다가 에러남..ㅎㅅㅎ)

print(average_rand([1,2,3,4,5]))

3.0

##Q3. 다음 프로그램의 오류를 수정하고 실행하세요

In [15]:
input1 = input("첫번째 숫자를 입력하세요:")
input2 = input("두번째 숫자를 입력하세요:")

total = input1 + input2
print("두 수의 합은 %s 입니다" % total)

첫번째 숫자를 입력하세요:3
두번째 숫자를 입력하세요:6
두 수의 합은 36 입니다

- 어디가 오류일까?
  - input() 함수의 경우 기본 자료형이 문자이다.
  - 그러니까 자료를 받아올 때 무조건 문자라고 생각하기에, 문자가 아닌 경우 자료를 받아와서 형변환(casting)을 해주어야 한다.

In [16]:
# 수정한 코드를 작성하고 실행하세요

input1 = int(input("첫번째 숫자를 입력하세요:"))
input2 = int(input("두번째 숫자를 입력하세요:"))

total = input1 + input2
print("두 수의 합은 %s 입니다" % total)

첫번째 숫자를 입력하세요:3
두번째 숫자를 입력하세요:6
두 수의 합은 9 입니다

##Q4. 다음 중 출력 결과가 다른 것 하나를 고르세요

1. print("you" "need" "python")
2. print("you"+"need"+"python")
3. print("you", "need", "python")
4. print("".join(["you", "need", "python"]))

In [17]:
# 답을 작성해주세요

# 답: 3번
# 이유: print()문에 ','를 사용하면 각각 다른 단어로 인식이 되어, 공백을 두고 출력된다.
# 나머지는 공백없이 출력

In [18]:
### 확인

print("you" "need" "python")
print("you"+"need"+"python")
print("you", "need", "python")
print("".join(["you", "need", "python"]))

youneedpython
youneedpython
you need python
youneedpython