<a href="https://colab.research.google.com/github/chasubeen/ESAA_8th_YB/blob/main/SummerProj%20/preprocessing_final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **0. ÎåÄÌöå ÏÜåÍ∞ú**
- Ìï≠Í≥µÌé∏ Ïö¥Ìï≠ Í¥ÄÎ†® Ï†ïÎ≥¥Î•º ÌôúÏö©ÌïòÏó¨ Ìï≠Í≥µÌé∏ ÏßÄÏó∞ Ïó¨Î∂ÄÎ•º ÏòàÏ∏°ÌïòÎäî Î™®Îç∏ Í∞úÎ∞ú
- Îç∞Ïù¥ÌÑ∞Ïùò Í≤ΩÏö∞ Î†àÏù¥Î∏îÏù¥ ÏóÜÎäî Í≤ΩÏö∞Í∞Ä ÎßéÏùå
  - Ï§ÄÏßÄÎèÑÌïôÏäµ Î∞©ÏãùÏùÑ ÌôúÏö©Ìï† ÏòàÏ†ï

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import random

# os Í¥ÄÎ¶¨Î•º ÏúÑÌïú ÎùºÏù¥Î∏åÎü¨Î¶¨
import os
import gc

In [2]:
def seed_everything(seed):
    random.seed(seed)
    os.environ['PYTHONHASHSEED'] = str(seed)
    np.random.seed(seed)

In [3]:
seed_everything(42) # Seed Í≥†Ï†ï

# **‚úî csv to parquet**
- [Ï∞∏Í≥†ÏûêÎ£å](https://butter-shower.tistory.com/245)  
- Î©îÎ™®Î¶¨Ïóê Ìö®Ïú®Ï†ÅÏù∏ Îç∞Ïù¥ÌÑ∞ Ïú†ÌòïÏùÑ ÏÇ¨Ïö©ÌïòÏó¨ Ïö©ÎüâÏùÑ Ï§ÑÏù¥Í≥† Îπ†Î•∏ ÏûëÏóÖÏù¥ Í∞ÄÎä•Ìï®

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [5]:
def csv_to_parquet(csv_path, save_name):
    df = pd.read_csv(csv_path) # Í∏∞Ï°¥ Î∞©ÏãùÎåÄÎ°ú ÌååÏùºÏùÑ ÏùΩÏñ¥ÏôÄ dataframe ÌòïÌÉúÎ°ú Ï†ÄÏû•
    df.to_parquet(f'./{save_name}.parquet') # DataFrame to Parquet
    del df # Í∏∞Ï°¥Ïùò Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ ÏÇ≠Ï†ú
    gc.collect() # Í∞ÄÎπÑÏßÄ ÏàòÍ±∞(ÏÇ¨Ïö©ÎêòÏßÄ ÏïäÎäî Î©îÎ™®Î¶¨ ÌöåÏàò)
    print(save_name, 'Done.')

In [6]:
# csv_to_parquet('/content/drive/MyDrive/Colab Notebooks/ESAA 8·ÑÄ·Öµ/YB/summer_proj/data/train.csv', 'train')
# csv_to_parquet('/content/drive/MyDrive/Colab Notebooks/ESAA 8·ÑÄ·Öµ/YB/summer_proj/data/test.csv', 'test')

# **1. Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞**

In [7]:
train = pd.read_parquet('/content/drive/MyDrive/Colab Notebooks/ESAA 8·ÑÄ·Öµ/YB/summer_proj/data/train.parquet')
test = pd.read_parquet('/content/drive/MyDrive/Colab Notebooks/ESAA 8·ÑÄ·Öµ/YB/summer_proj/data/test.parquet')
sample_submission = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/ESAA 8·ÑÄ·Öµ/YB/summer_proj/data/sample_submission.csv', index_col = 0)

In [8]:
train.head(3)

,ID,Month,Day_of_Month,Estimated_Departure_Time,Estimated_Arrival_Time,Cancelled,Diverted,Origin_Airport,Origin_Airport_ID,Origin_State,Destination_Airport,Destination_Airport_ID,Destination_State,Distance,Airline,Carrier_Code(IATA),Carrier_ID(DOT),Tail_Number,Delay
0,TRAIN_000000,4,15,NaN,NaN,0,0,OKC,13851,Oklahoma,HOU,12191,Texas,419.0,Southwest Airlines Co.,WN,19393.0,N7858A,None
1,TRAIN_000001,8,15,740.0,1024.0,0,0,ORD,13930,Illinois,SLC,14869,Utah,1250.0,SkyWest Airlines Inc.,UA,20304.0,N125SY,None
2,TRAIN_000002,9,6,1610.0,1805.0,0,0,CLT,11057,North Carolina,LGA,12953,New York,544.0,American Airlines Inc.,AA,19805.0,N103US,None

In [9]:
test.head(3)

,ID,Month,Day_of_Month,Estimated_Departure_Time,Estimated_Arrival_Time,Cancelled,Diverted,Origin_Airport,Origin_Airport_ID,Origin_State,Destination_Airport,Destination_Airport_ID,Destination_State,Distance,Airline,Carrier_Code(IATA),Carrier_ID(DOT),Tail_Number
0,TEST_000000,12,16,1156.0,NaN,0,0,IAH,12266,Texas,SAT,14683,Texas,191.0,United Air Lines Inc.,UA,NaN,N79402
1,TEST_000001,9,12,1500.0,1715.0,0,0,EWR,11618,New Jersey,ATL,10397,None,746.0,Delta Air Lines Inc.,DL,19790.0,N3765
2,TEST_000002,3,6,1600.0,1915.0,0,0,ORD,13930,Illinois,LGA,12953,New York,733.0,United Air Lines Inc.,UA,19977.0,N413UA

In [10]:
sample_submission.head(3)

             Not_Delayed  Delayed
ID
TEST_000000            0        1
TEST_000001            0        1
TEST_000002            0        1

# **2. Îç∞Ïù¥ÌÑ∞ Ï†ÑÏ≤òÎ¶¨**

## **üìå Data Description**
**Ìï≠Í≥µÌé∏ Ïö¥Ìï≠ Í¥ÄÎ†® Ï†ïÎ≥¥**  
- ID : ÏÉòÌîå Í≥†Ïú† id
- Month: Ìï¥Îãπ Ìï≠Í≥µÌé∏Ïùò Ï∂úÎ∞ú Ïõî
- Day_of_Month: MonthÏóê Ìï¥ÎãπÌïòÎäî ÏõîÏùò ÎÇ†Ïßú
- Estimated_Departure_Time: Ï†ÑÏÇ∞ ÏãúÏä§ÌÖúÏùÑ Î∞îÌÉïÏúºÎ°ú Ï∏°Ï†ïÎêú ÎπÑÌñâÍ∏∞Ïùò Ï∂úÎ∞ú ÏãúÍ∞Ñ  
(ÌòÑÏßÄ ÏãúÍ∞Å, HH:MM ÌòïÏãù)
- Estimated_Arrival_Time: Ï†ÑÏÇ∞ ÏãúÏä§ÌÖúÏùÑ Î∞îÌÉïÏúºÎ°ú Ï∏°Ï†ïÎêú ÎπÑÌñâÍ∏∞Ïùò ÎèÑÏ∞© ÏãúÍ∞Ñ  
(ÌòÑÏßÄ ÏãúÍ∞Å, HH:MM ÌòïÏãù)
- Cancelled: Ìï¥Îãπ Ìï≠Í≥µÌé∏Ïùò Ï∑®ÏÜå Ïó¨Î∂Ä  
(0: Ï∑®ÏÜåÎêòÏßÄ ÏïäÏùå, 1: Ï∑®ÏÜåÎê®)
- Diverted: Ìï¥Îãπ Ìï≠Í≥µÌé∏Ïùò Í≤ΩÏú† Ïó¨Î∂Ä  
(0: Ï∑®ÏÜåÎêòÏßÄ ÏïäÏùå, 1: Ï∑®ÏÜåÎê®)
- Origin_Airport: Ìï¥Îãπ Ìï≠Í≥µÌé∏ Ï∂úÎ∞ú Í≥µÌï≠Ïùò Í≥†Ïú† ÏΩîÎìú(IATA Í≥µÌï≠ ÏΩîÎìú)
- Origin_Airport_ID: Ìï¥Îãπ Ìï≠Í≥µÌé∏ Ï∂úÎ∞ú Í≥µÌï≠Ïùò Í≥†Ïú† ID(US DOT ID)
- Origin_State: Ìï¥Îãπ Ìï≠Í≥µÌé∏ Ï∂úÎ∞ú Í≥µÌï≠Ïù¥ ÏúÑÏπòÌïú Ï£ºÏùò Ïù¥Î¶Ñ
- Destination_Airport: Ìï¥Îãπ Ìï≠Í≥µÌé∏ ÎèÑÏ∞© Í≥µÌï≠Ïùò Í≥†Ïú† ÏΩîÎìú (IATA Í≥µÌï≠ ÏΩîÎìú)
- Destination_Airport_ID: Ìï¥Îãπ Ìï≠Í≥µÌé∏ ÎèÑÏ∞© Í≥µÌï≠Ïùò Í≥†Ïú† ID (US DOT ID)
- Destination_State: Ìï¥Îãπ Ìï≠Í≥µÌé∏ ÎèÑÏ∞© Í≥µÌï≠Ïù¥ ÏúÑÏπòÌïú Ï£ºÏùò Ïù¥Î¶Ñ
- Distance: Ï∂úÎ∞ú Í≥µÌï≠Í≥º ÎèÑÏ∞© Í≥µÌï≠ ÏÇ¨Ïù¥Ïùò Í±∞Î¶¨ (mile Îã®ÏúÑ)
- Airline: Ìï¥Îãπ Ìï≠Í≥µÌé∏ÏùÑ Ïö¥Ìï≠ÌïòÎäî Ìï≠Í≥µÏÇ¨
- Carrier_Code(IATA): Ìï¥Îãπ Ìï≠Í≥µÌé∏ÏùÑ Ïö¥Ìï≠ÌïòÎäî Ìï≠Í≥µÏÇ¨Ïùò Í≥†Ïú† ÏΩîÎìú  
(IATA Í≥µÌï≠ ÏΩîÎìú, Îã® Îã§Î•∏ Ìï≠Í≥µÏÇ¨Í∞Ä Í∞ôÏùÄ ÏΩîÎìúÎ•º Î≥¥Ïú†Ìï† ÏàòÎèÑ ÏûàÏùå)
- Carrier_ID(DOT): Ìï¥Îãπ Ìï≠Í≥µÌé∏ÏùÑ Ïö¥Ìï≠ÌïòÎäî Ìï≠Í≥µÏÇ¨Ïùò Í≥†Ïú† ID (US DOT ID)
- Tail_Number: Ìï¥Îãπ Ìï≠Í≥µÌé∏ÏùÑ Ïö¥Ìï≠ÌïòÎäî Ìï≠Í≥µÍ∏∞Ïùò Í≥†Ïú† Îì±Î°ùÎ≤àÌò∏
- Delay: Ìï≠Í≥µÌé∏ ÏßÄÏó∞ Ïó¨Î∂Ä (Not_Delayed, Delayed)
  - ÏòàÏ∏°Ìï¥Ïïº ÌïòÎäî **ÌÉÄÍπÉ**
  - Îã§ÏàòÏùò Îç∞Ïù¥ÌÑ∞Ïóê Î†àÏù¥Î∏îÏù¥ Ï°¥Ïû¨ÌïòÏßÄ ÏïäÏùå
  - Ï§ÄÏßÄÎèÑÌïôÏäµÏùÑ ÌÜµÌï¥ Î†àÏù¥Î∏îÎßÅ Í∞ÄÎä•

In [11]:
### Îç∞Ïù¥ÌÑ∞ ÌòïÌÉú ÌôïÏù∏

train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 19 columns):
 #   Column                    Non-Null Count    Dtype
---  ------                    --------------    -----
 0   ID                        1000000 non-null  object
 1   Month                     1000000 non-null  int64
 2   Day_of_Month              1000000 non-null  int64
 3   Estimated_Departure_Time  890981 non-null   float64
 4   Estimated_Arrival_Time    890960 non-null   float64
 5   Cancelled                 1000000 non-null  int64
 6   Diverted                  1000000 non-null  int64
 7   Origin_Airport            1000000 non-null  object
 8   Origin_Airport_ID         1000000 non-null  int64
 9   Origin_State              890985 non-null   object
 10  Destination_Airport       1000000 non-null  object
 11  Destination_Airport_ID    1000000 non-null  int64
 12  Destination_State         890921 non-null   object
 13  Distance                  1000000 non-null  float64
 14  Airline                   891080 non-null   object
 15  Carrier_Code(IATA)        891010 non-null   object
 16  Carrier_ID(DOT)           891003 non-null   float64
 17  Tail_Number               1000000 non-null  object
 18  Delay                     255001 non-null   object
dtypes: float64(4), int64(6), object(9)
memory usage: 145.0+ MB

In [12]:
train.describe()

,Month,Day_of_Month,Estimated_Departure_Time,Estimated_Arrival_Time,Cancelled,Diverted,Origin_Airport_ID,Destination_Airport_ID,Distance,Carrier_ID(DOT)
count,1000000.000000,1000000.000000,890981.000000,890960.000000,1000000.0,1000000.0,1000000.000000,1000000.000000,1000000.000000,891003.000000
mean,6.945156,15.764842,1341.153019,1493.295934,0.0,0.0,12696.278484,12701.813986,784.078499,19997.388093
std,3.462506,8.763515,489.814011,520.803494,0.0,0.0,1514.938441,1515.213044,590.790469,404.268639
min,1.000000,1.000000,1.000000,1.000000,0.0,0.0,10135.000000,10135.000000,16.000000,19393.000000
25%,4.000000,8.000000,925.000000,1105.000000,0.0,0.0,11292.000000,11292.000000,350.000000,19790.000000
50%,7.000000,16.000000,1332.000000,1524.000000,0.0,0.0,12889.000000,12889.000000,623.000000,19977.000000
75%,10.000000,23.000000,1742.000000,1924.000000,0.0,0.0,14057.000000,14057.000000,1020.000000,20378.000000
max,12.000000,31.000000,2359.000000,2400.000000,0.0,0.0,16869.000000,16869.000000,5095.000000,21171.000000

- Ïª¨ÎüºÎ™ÖÏù¥ Ï†ÑÏ≤¥Ï†ÅÏúºÎ°ú Í∏∏Í≥† Î≥µÏû°ÌïòÎã§Îäî ÎäêÎÇåÏù¥ ÏûàÎã§.
  - Ïª¨ÎüºÎ™ÖÏùÑ Ï†ÅÏ†àÌûà Î≥ÄÍ≤Ω
- ```Estimated_Departure_Time```, ```Estimated_Arrival_Time```, ```Origin_State```, ```Destination_State```, ```Airline```, ```Carrier_Code(IATA)```, ```Carrier_ID(DOT)```Ïóê Í≤∞Ï∏°Ïπò Ï°¥Ïû¨
  - Í≤∞Ï∏°Ïπò Ï≤òÎ¶¨ ÌïÑÏöî
- ÎπÑÏä∑Ìïú Ï†ïÎ≥¥Îì§ÏùÑ Ìè¨Ìï®ÌïòÍ≥† ÏûàÎäî Ïª¨ÎüºÎì§Ïù¥ Ï°¥Ïû¨
  - Ïó¨Îü¨ Í∞úÎ•º Ìï©ÏπòÍ±∞ÎÇò Î≥ÄÏàòÎ•º ÏÑ†ÌÉùÏ†ÅÏúºÎ°ú ÌôúÏö©
- Îç∞Ïù¥ÌÑ∞ Í∞Ñ Ïä§ÏºÄÏùº Ï∞®Ïù¥Í∞Ä Ï°¥Ïû¨
  - Ïä§ÏºÄÏùºÎßÅ ÏßÑÌñâ

## **2-1. Í∞Å Î≥ÄÏàòÎ≥ÑÎ°ú Î≥¥Í∏∞**

### **(a) ID**
- IDÏùò Í≤ΩÏö∞ Ìï≠Í≥µÌé∏ ÏßÄÏó∞ ÏòàÏ∏°Ïóê ÎåÄÌï¥ Ï†úÍ≥µÌïòÎäî Ï†ïÎ≥¥Í∞Ä ÏóÜÏùå
  - Í∑∏Ï†Ä Îç∞Ïù¥ÌÑ∞ Íµ¨Î∂ÑÏùÑ ÏúÑÌïú Ïù∏Îç±Ïä§ Ï†ïÎèÑ
> Ìï¥Îãπ Î≥ÄÏàò ÏÇ≠Ï†ú

In [13]:
train = train.drop(['ID'], axis = 1)
test = test.drop(['ID'], axis = 1)

### **(b) Month & Day_of_Month**
- **ÌäπÏ†ï ÎÇ†Ïßú**Ïóê Îî∞Îùº Ìï≠Í≥µÌé∏ ÏßÄÏó∞ Ïó¨Î∂ÄÍ∞Ä Îã§Î•º Í≤ÉÏûÑ
  - ÏõîÍ≥º ÏùºÏùÑ Ìï©Ï≥ê ÌïòÎÇòÏùò ÎÇ†ÏßúÎ°ú Î≥¥Í∏∞
  - ÌÅ¨Î¶¨Ïä§ÎßàÏä§ Îì±Ïùò Í∏∞ÎÖêÏùº, Íµ≠Í≤ΩÏùº Îì±
  - ```Holiday``` ÌååÏÉù Î≥ÄÏàòÎ•º ÏÉùÏÑ±ÌïòÏó¨ Íµ≠Í≤ΩÏùºÏù∏ÏßÄ ÏïÑÎãåÏßÄÎ•º ÌëúÏãú(0: Í≥µÌú¥Ïùº ÏïÑÎãò, 1: Í≥µÌú¥Ïùº)
  - [ÎØ∏Íµ≠ Í≥µÌú¥Ïùº](https://ko.wikipedia.org/wiki/%EB%AF%B8%EA%B5%AD%EC%9D%98_%EA%B3%B5%ED%9C%B4%EC%9D%BC)
- **Ïõî**Ïùò Í≤ΩÏö∞ Ìï≠Í≥µÌé∏ ÏßÄÏó∞Í≥º Í¥ÄÎ†®Ïù¥ ÏûàÏùÑÏàòÎèÑ ÏûàÏùå
  - Í≤®Ïö∏Í∞ôÏù¥ ÎààÏù¥ ÎßéÏù¥ Ïò§Îäî Í≤ΩÏö∞ Ìï≠Í≥µÌé∏Ïù¥ ÏßÄÏó∞Îê† Í∞ÄÎä•ÏÑ±Ïù¥ Îçî ÎÜíÏùÑ Í≤ÉÏù¥Îã§.
  - Í≥ÑÏ†àÎ°ú Íµ¨Î∂Ñ

In [14]:
### ÎÇ†Ïßú Ï≤òÎ¶¨

train.loc[:,'Month'] = train['Month'].apply(lambda x: str(x) if x >= 10 else (str(0) + str(x))) # 04
train.loc[:,'Day_of_Month'] = train['Day_of_Month'].apply(lambda x: str(x) if x >= 10 else (str(0) + str(x))) # 09
train['Date'] = train['Month'] + train['Day_of_Month'] # ÎÇ†Ïßú Î≥ÄÏàò Ï∂îÍ∞Ä

test.loc[:,'Month'] = test['Month'].apply(lambda x: str(x) if x >= 10 else (str(0) + str(x)))
test.loc[:,'Day_of_Month'] = test['Day_of_Month'].apply(lambda x: str(x) if x >= 10 else (str(0) + str(x)))
test['Date'] = test['Month'] + test['Day_of_Month']

train = train.drop('Day_of_Month', axis = 1) # ÏùºÍ≥º Í¥ÄÎ†®Îêú Î≥ÄÏàòÎäî Ï†úÍ±∞
test = test.drop('Day_of_Month', axis = 1)

In [15]:
train.head(3)

,Month,Estimated_Departure_Time,Estimated_Arrival_Time,Cancelled,Diverted,Origin_Airport,Origin_Airport_ID,Origin_State,Destination_Airport,Destination_Airport_ID,Destination_State,Distance,Airline,Carrier_Code(IATA),Carrier_ID(DOT),Tail_Number,Delay,Date
0,04,NaN,NaN,0,0,OKC,13851,Oklahoma,HOU,12191,Texas,419.0,Southwest Airlines Co.,WN,19393.0,N7858A,None,0415
1,08,740.0,1024.0,0,0,ORD,13930,Illinois,SLC,14869,Utah,1250.0,SkyWest Airlines Inc.,UA,20304.0,N125SY,None,0815
2,09,1610.0,1805.0,0,0,CLT,11057,North Carolina,LGA,12953,New York,544.0,American Airlines Inc.,AA,19805.0,N103US,None,0906

In [16]:
test.head(3)

,Month,Estimated_Departure_Time,Estimated_Arrival_Time,Cancelled,Diverted,Origin_Airport,Origin_Airport_ID,Origin_State,Destination_Airport,Destination_Airport_ID,Destination_State,Distance,Airline,Carrier_Code(IATA),Carrier_ID(DOT),Tail_Number,Date
0,12,1156.0,NaN,0,0,IAH,12266,Texas,SAT,14683,Texas,191.0,United Air Lines Inc.,UA,NaN,N79402,1216
1,09,1500.0,1715.0,0,0,EWR,11618,New Jersey,ATL,10397,None,746.0,Delta Air Lines Inc.,DL,19790.0,N3765,0912
2,03,1600.0,1915.0,0,0,ORD,13930,Illinois,LGA,12953,New York,733.0,United Air Lines Inc.,UA,19977.0,N413UA,0306

In [17]:
### Í≥µÌú¥Ïùº Ï≤òÎ¶¨
# ÏùºÎã® ÎÇ†ÏßúÍ∞Ä ÏßÄÏ†ïÎêú Í≥µÌú¥Ïùº ÏúÑÏ£ºÎ°ú Í≥†Î†§
# Ï£ºÏ∞®Î°ú ÏßÄÏ†ïÎêú Í≤ΩÏö∞ Ï§ëÍ∞Ñ ÎÇ†ÏßúÎ•º Í≥µÌú¥ÏùºÎ°ú Ï≤òÎ¶¨
# Ïûò Ïâ¨ÏßÄ ÏïäÎäî Í≥µÌú¥ÏùºÏùÄ Ï†úÏô∏
# ÏßÄÏ†ïÏùº Í≥µÌú¥Ïùº Í∏∞Ï§Ä Ï†ÑÌõÑ 4Ïùº Ìè¨Ìï®
# ÏßÄÏ†ïÎêòÏßÄ ÏïäÏùÄ Í≥µÌú¥Ïùº Í∏∞Ï§Ä Ï†ÑÏ£º Í∏àÌÜ†ÏùºÎ∂ÄÌÑ∞ Ìï¥ÎãπÏ£º ÏùºÏöîÏùºÍπåÏßÄ Ìè¨Ìï®

holiday_li = ['1228','1229','1230','1231','0101','0102','0103','0104','0105','0115',
              '0116','0117', '0118','0119','0120','0121','0122','0123','0124',
              '0521','0522','0523','0524','0525','0526','0527','0528','0529','0530',
              '0630','0701','0702','0703','0704','0705','0706','0707','0708',
              '0901','0902','0903','0904','0905','0906','0907','0908','0909','0910',
              '1117','1118','1119','1120','1121','1122','1123','1124','1125','1126','1127','1128',
              '1221','1222','1223','1224','1225','1226','1227','1228','1229']

train.loc[:,'Holiday'] = train['Date'].apply(lambda x: 1 if x in holiday_li else 0)
test.loc[:,'Holiday'] = test['Date'].apply(lambda x: 1 if x in holiday_li else 0)

train = train.drop('Date', axis = 1) # ÎÇ†ÏßúÏôÄ Í¥ÄÎ†®Îêú Î≥ÄÏàòÎäî Ï†úÍ±∞
test = test.drop('Date', axis = 1)

### **(c) Cancelled, Diverted**
- train.describe()Î•º ÌÜµÌï¥ ÌôïÏù∏Ìïú Í≤∞Í≥º Î™®Îëê 0ÏûÑ
> Ï†úÍ≥µÌï¥ Ï£ºÎäî Ï†ïÎ≥¥Í∞Ä ÏóÜÎäî Î≥ÄÏàòÎì§Ïù¥Í∏∞Ïóê Ï†úÍ±∞

In [18]:
train = train.drop(['Cancelled', 'Diverted'], axis = 1)
test = test.drop(['Cancelled', 'Diverted'], axis = 1)

### **(d) Origin_Airport & Origin_Airport_ID**
- ÌïòÎÇòÏùò Í≥µÌï≠ÏùÑ ÎëêÍ≥† ÌëúÍ∏∞ÌïòÎäî Î∞©Î≤ïÏù¥ Îã§Î•∏ Í≤É Í∞ôÏùå
  - Í∑∏ÎÉ• Ï≤òÎ¶¨ÌïòÎäî Î∂ÄÏÑú(?)Ïóê Îî∞Î•∏ Ï∞®Ïù¥Ïù∏ Í≤É Í∞ôÏùå
> IDÎ•º ÎÇ®Í∏∞Í∏∞Î°ú Í≤∞Ï†ï  
(Ïù¥Îî∞ ```Carrier_Code```, ```Carrier_ID```ÏóêÏÑú idÎ•º ÎÇ®Í∏∏ ÏòàÏ†ïÏù¥ÎØÄÎ°ú ÌÜµÏùºÍ∞êÏùÑ Ï£ºÍ∏∞ ÏúÑÌï¥ÏÑú)

In [19]:
train = train.drop(['Origin_Airport'], axis = 1)
test = test.drop(['Origin_Airport'], axis = 1)

### **(e) Destination_Airport & Destination_Airport_ID**
- Ï∂úÎ∞úÏßÄÏôÄ ÎèôÏùºÌïòÍ≤å ÎèÑÏ∞©ÏßÄÎèÑ Ï≤òÎ¶¨

In [20]:
train = train.drop(['Destination_Airport'], axis = 1)
test = test.drop(['Destination_Airport'], axis = 1)

### **(f) Origin_State & Destination_State**
- ÎØ∏Íµ≠Ïùò Ï£ºÎäî ÎÑàÎ¨¥ Í¥ëÎ≤îÏúÑÌï®
  - Í≥µÌï≠Ïù¥ÎùºÎäî Îçî ÏûëÏùÄ Î≤îÏúÑÍ∞Ä ÏûàÎäîÎç∞ Íµ≥Ïù¥ Ï£ºÎ•º..
  - Ïö∞Î¶¨ÎÇòÎùºÎ°ú ÏπòÎ©¥ ÍπÄÌï¥Íµ≠Ï†úÍ≥µÌï≠ ÎÉÖÎëêÍ≥† Í≤ΩÏÉÅÎ∂ÅÎèÑ Î≥¥Îäî ÎäêÎÇå..
> Ìï¥Îãπ Î≥ÄÏàòÎì§ÏùÑ ÏÇ≠Ï†ú

In [21]:
train = train.drop(['Origin_State', 'Destination_State'], axis = 1)
test = test.drop(['Origin_State', 'Destination_State'], axis = 1)

### **(g) Carrier_Code(IATA) & Carrier_ID(DOT)**
- ÌïòÎÇòÏùò Ìï≠Í≥µÏÇ¨Î•º ÎëêÍ≥† ÌëúÍ∏∞ÌïòÎäî Î∞©Î≤ïÏù¥ Îã§Î•∏ Í≤É Í∞ôÏùå
- ```Carrier_Code```Ïùò Í≤ΩÏö∞ IATA Í≥µÌï≠ ÏΩîÎìúÎ•º ÌôúÏö©ÌïòÍ∏∞Ïóê, Îã§Î•∏ Ìï≠Í≥µÏÇ¨ÎùºÎèÑ Í∞ôÏùÄ ÏΩîÎìúÎ•º Î≥¥Ïú†Ìï† ÏàòÎèÑ ÏûàÍ∏∞Ïóê, Í≥†Ïú†ÏÑ±Ïù¥ Îñ®Ïñ¥Ïßê
> Carrier_ID(DOT)Î•º ÌôúÏö©ÌïòÏûê.

In [22]:
train = train.drop(['Carrier_Code(IATA)'], axis = 1)
test = test.drop(['Carrier_Code(IATA)'], axis = 1)

## **2-2. Í≤∞Ï∏°Ïπò Ï≤òÎ¶¨**

In [23]:
### Îç∞Ïù¥ÌÑ∞ Íµ¨Ï°∞ Ïû¨ÌôïÏù∏

train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 11 columns):
 #   Column                    Non-Null Count    Dtype
---  ------                    --------------    -----
 0   Month                     1000000 non-null  object
 1   Estimated_Departure_Time  890981 non-null   float64
 2   Estimated_Arrival_Time    890960 non-null   float64
 3   Origin_Airport_ID         1000000 non-null  int64
 4   Destination_Airport_ID    1000000 non-null  int64
 5   Distance                  1000000 non-null  float64
 6   Airline                   891080 non-null   object
 7   Carrier_ID(DOT)           891003 non-null   float64
 8   Tail_Number               1000000 non-null  object
 9   Delay                     255001 non-null   object
 10  Holiday                   1000000 non-null  int64
dtypes: float64(4), int64(3), object(4)
memory usage: 83.9+ MB

In [24]:
train.describe()

,Estimated_Departure_Time,Estimated_Arrival_Time,Origin_Airport_ID,Destination_Airport_ID,Distance,Carrier_ID(DOT),Holiday
count,890981.000000,890960.000000,1000000.000000,1000000.000000,1000000.000000,891003.000000,1000000.000000
mean,1341.153019,1493.295934,12696.278484,12701.813986,784.078499,19997.388093,0.187332
std,489.814011,520.803494,1514.938441,1515.213044,590.790469,404.268639,0.390178
min,1.000000,1.000000,10135.000000,10135.000000,16.000000,19393.000000,0.000000
25%,925.000000,1105.000000,11292.000000,11292.000000,350.000000,19790.000000,0.000000
50%,1332.000000,1524.000000,12889.000000,12889.000000,623.000000,19977.000000,0.000000
75%,1742.000000,1924.000000,14057.000000,14057.000000,1020.000000,20378.000000,0.000000
max,2359.000000,2400.000000,16869.000000,16869.000000,5095.000000,21171.000000,1.000000

In [25]:
### column Ìï®ÏàòÎ•º Í∏∞Ï§ÄÏúºÎ°ú Í≤∞Ï∏°Í∞íÏùÑ Í≥ÑÏÇ∞ÌïòÎäî Ìï®Ïàò

def missing_values_table(df):
        # Îç∞Ïù¥ÌÑ∞ ÎÇ¥ÏóêÏÑú Í≤∞Ï∏°ÏπòÏùò Ï¥ù Í∞úÏàò
        mis_val = df.isnull().sum()

        # Ï†ÑÏ≤¥ Îç∞Ïù¥ÌÑ∞Ïóê ÎåÄÌïú Í≤∞Ï∏°ÏπòÏùò ÎπÑÏú®
        mis_val_percent = 100 * df.isnull().sum() / len(df)

        # Í≤∞Í≥º ÌÖåÏù¥Î∏î ÎßåÎì§Í∏∞
        mis_val_table = pd.concat([mis_val, mis_val_percent], axis = 1) # Ïª¨Îüº Î∞©Ìñ•ÏúºÎ°ú Í≤∞Ìï©

        # Ïª¨ÎüºÎ™Ö Ïû¨Ï†ïÏùò
        mis_val_table_ren_columns = mis_val_table.rename(
            columns = {0 : 'Missing Values', 1 : '% of Total Values'})

        # Í≤∞Ï∏°ÏπòÏùò ÎπÑÏú®ÏùÑ Í∏∞Ï§ÄÏúºÎ°ú ÎÇ¥Î¶ºÏ∞®Ïàú Ï†ïÎ†¨
        mis_val_table_ren_columns = mis_val_table_ren_columns[
            mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
                '% of Total Values', ascending = False).round(1) # ÏÜåÏàò Ï≤´Ïß∏ÏûêÎ¶¨ÏóêÏÑú Î∞òÏò¨Î¶º

        # ÏöîÏïΩ Ï†ïÎ≥¥ Ï∂úÎ†•
        print ("ÏÑ†ÌÉùÎêú Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏùÄ " + str(df.shape[1]) + "Í∞úÏùò Î≥ÄÏàòÎ•º Í∞ÄÏßÄÍ≥† ÏûàÏäµÎãàÎã§.\n"
            "Ïù¥Îïå Í≤∞Ï∏°Ïπò(missing value)Î•º Í∞ÄÏßÄÎäî Î≥ÄÏàòÏùò Í∞úÏàòÎäî " + str(mis_val_table_ren_columns.shape[0]) +
              "Í∞ú ÏûÖÎãàÎã§.\n")
        return mis_val_table_ren_columns

In [26]:
# Í≤∞Ï∏°ÏπòÏóê ÎåÄÌïú ÏöîÏïΩ Ï†ïÎ≥¥ ÌôïÏù∏

missing_values = missing_values_table(train)
missing_values

ÏÑ†ÌÉùÎêú Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏùÄ 11Í∞úÏùò Î≥ÄÏàòÎ•º Í∞ÄÏßÄÍ≥† ÏûàÏäµÎãàÎã§.
Ïù¥Îïå Í≤∞Ï∏°Ïπò(missing value)Î•º Í∞ÄÏßÄÎäî Î≥ÄÏàòÏùò Í∞úÏàòÎäî 5Í∞ú ÏûÖÎãàÎã§.

                          Missing Values  % of Total Values
Delay                             744999               74.5
Estimated_Arrival_Time            109040               10.9
Estimated_Departure_Time          109019               10.9
Carrier_ID(DOT)                   108997               10.9
Airline                           108920               10.9

### **(a) Estimated_Departure_Time(EDT) & Estimated_Arrival_Time(EAT)**
- ÎπÑÌñâÏãúÍ∞Ñ = Estimated_Arrival_Time - Estimated_Departure_TimeÏúºÎ°ú Í≥ÑÏÇ∞Ìï† Ïàò ÏûàÏùå
  - ```Flying_Time``` Î≥ÄÏàò Ï∂îÍ∞Ä
  - ÏãúÍ∞Ñ Í≥ÑÏÇ∞ÏùÑ Ìé∏ÌïòÍ≤å ÌïòÍ∏∞ ÏúÑÌï¥ HH:MM ÌòïÏãùÏùÑ Î∂Ñ ÌòïÏãùÏúºÎ°ú Î≥ÄÍ≤Ω(ÌïòÎ£® = 24ÏãúÍ∞Ñ * 60Î∂Ñ = 1440Î∂Ñ)
  - (ÎèÑÏ∞©ÏãúÍ∞Ñ - Ï∂úÎ∞úÏãúÍ∞Ñ) < 0Ïùº Ïàò ÏûàÏùå
    - Î≥¥Ï†ïÎ∞©Î≤ï: 1440 - Ï∂úÎ∞úÏãúÍ∞Ñ + ÎèÑÏ∞©ÏãúÍ∞Ñ = 1440 + (ÎèÑÏ∞©ÏãúÍ∞Ñ - Ï∂úÎ∞úÏãúÍ∞Ñ)
    - 15Ïãú Ï∂úÎ∞úÌï¥ÏÑú 9Ïãú ÎèÑÏ∞©: 1440 - 15 * 60 + 9 * 60 = 1080(Î∂Ñ) ÏÜåÏöî
---
- ÎπÑÌñâÏãúÍ∞ÑÏùÄ Ï∂úÎ∞ú Í≥µÌï≠Í≥º ÎèÑÏ∞© Í≥µÌï≠ ÏÇ¨Ïù¥Ïùò Í±∞Î¶¨Ïóê ÎπÑÎ°ÄÌï† Í≤ÉÏûÑ
  - Ï∂úÎ∞úÏãúÍ∞ÑÍ≥º ÎèÑÏ∞© ÏãúÍ∞Ñ Ï§ë ÌïòÎÇòÎùºÎèÑ ÏïåÍ≥† ÏûàÎã§Î©¥ Í≥µÌï≠ Í∞ÑÏùò Í±∞Î¶¨Î•º ÌÜµÌï¥ Ïú†Ï∂î Í∞ÄÎä•

In [27]:
# train Îç∞Ïù¥ÌÑ∞Ïùò Í≤ΩÏö∞ Ï∂úÎ∞úÏãúÍ∞ÑÍ≥º ÎèÑÏ∞©ÏãúÍ∞ÑÏù¥ Î™®Îëê Í≤∞Ï∏°ÏπòÏù∏ Îç∞Ïù¥ÌÑ∞(Ìñâ)Îäî Ï†úÍ±∞

train = train.dropna(subset = ['Estimated_Departure_Time', 'Estimated_Departure_Time'],
                     how = 'all', axis = 0)

In [28]:
# test Îç∞Ïù¥ÌÑ∞Ïùò Í≤ΩÏö∞ ÎØ∏Î¶¨ Ï∂úÎ∞úÏãúÍ∞ÑÍ≥º ÎèÑÏ∞©ÏãúÍ∞ÑÏù¥ Î™®Îëê Í≤∞Ï∏°ÏπòÏù∏ Îç∞Ïù¥ÌÑ∞(Ìñâ)Ïùò Í≤ΩÏö∞ ÏµúÎπàÍ∞íÏúºÎ°ú Í≤∞Ï∏°Ïπò Ï±ÑÏö∞Í∏∞

missing = test[test['Estimated_Departure_Time'].isnull() & test['Estimated_Arrival_Time'].isnull()]

# Í≤∞Ï∏°ÏπòÎ•º ÏµúÎπàÍ∞íÏúºÎ°ú ÎåÄÏ≤¥ÌïòÍ∏∞
departure_mode = test['Estimated_Departure_Time'].mode().values[0]
arrival_mode = test['Estimated_Arrival_Time'].mode().values[0]

test.loc[missing.index, 'Estimated_Departure_Time'] = departure_mode
test.loc[missing.index, 'Estimated_Arrival_Time'] = arrival_mode

In [29]:
### ÎπÑÌñâÏãúÍ∞Ñ(Flying_Time) Ï∂îÍ∞Ä

# ÏãúÍ∞Ñ -> Î∂Ñ(ÏàòÏÉÅÏûê ÏΩîÎìú Ï∞∏Í≥†)
def time_to_min(x):
  x = int(x)
  x = str(x)

  if len(x) > 2: # 1ÏãúÍ∞Ñ Ïù¥ÏÉÅ(ÏãúÍ∞ÑÏùò Í∞úÎÖêÏù¥ Ï°¥Ïû¨)
    hour, min = int(x[:-2]), int(x[-2:])
  else:
    hour, min = 0, int(x[-2:])

  return hour * 60 + min

In [30]:
train.loc[:,'Estimated_Departure_Time'] = train['Estimated_Departure_Time'].apply(lambda x:time_to_min(x) if not np.isnan(x) else np.nan)
train.loc[:,'Estimated_Arrival_Time'] = train['Estimated_Arrival_Time'].apply(lambda x:time_to_min(x) if not np.isnan(x) else np.nan)

train['Flying_Time'] = train['Estimated_Arrival_Time'] - train['Estimated_Departure_Time']
train.loc[:, 'Flying_Time'] = train['Flying_Time'].apply(lambda x: x + 1440 if x < 0 else x)

<ipython-input-30-59235367f48d>:1: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  train.loc[:,'Estimated_Departure_Time'] = train['Estimated_Departure_Time'].apply(lambda x:time_to_min(x) if not np.isnan(x) else np.nan)

In [31]:
test.loc[:,'Estimated_Departure_Time'] = test['Estimated_Departure_Time'].apply(lambda x:time_to_min(x) if not np.isnan(x) else np.nan)
test.loc[:,'Estimated_Arrival_Time'] = test['Estimated_Arrival_Time'].apply(lambda x:time_to_min(x) if not np.isnan(x) else np.nan)

test['Flying_Time'] = test['Estimated_Arrival_Time'] - test['Estimated_Departure_Time']
test.loc[:, 'Flying_Time'] = test['Flying_Time'].apply(lambda x: x + 1440 if x < 0 else x)

In [32]:
### Í±∞Î¶¨(Distance), ÎπÑÌñâÏãúÍ∞Ñ(Flying_Time) ÎåÄÏùëÏãúÌÇ§Í∏∞
# ÎèôÏùºÌïú Í±∞Î¶¨Ïóê Îî∞Îùº, ÎπÑÌñâÏãúÍ∞ÑÏùò ÏµúÎπàÍ∞íÏùÑ Íµ¨Ìï¥ ÎåÄÏùëÏãúÌÇ¥

# Í±∞Î¶¨Î≥Ñ flying_timeÏùò ÏµúÎπàÍ∞íÏùÑ Íµ¨ÌïòÎäî Ìï®Ïàò
def get_mode(x):
  modes = x.mode().values
  mode = np.mean(modes) # ÏµúÎπàÍ∞íÏù¥ Ïó¨Îü¨Í∞úÏù∏ Í≤ΩÏö∞ Ìï¥Îãπ Í∞íÎì§Ïùò ÌèâÍ∑†ÏùÑ ÌÉùÌï®
  if pd.isna(mode):
    return np.NaN
  else:
    return int(mode)

In [33]:
# Í±∞Î¶¨Î≥ÑÎ°ú Í∑∏Î£πÌôîÌïòÍ≥† flying_timeÏùò ÏµúÎπàÍ∞íÏùÑ Íµ¨ÌïòÍ∏∞
result_dict = train.groupby('Distance')['Flying_Time'].apply(get_mode).to_dict()

# DistanceÏóê ÎåÄÏùëÎêòÎäî Í∞íÏúºÎ°ú Flying_TimeÏùò Í≤∞Ï∏°Ïπò Ï±ÑÏö∞Í∏∞
train['Flying_Time'] = train.apply(lambda row: result_dict[row['Distance']]
                                   if pd.isnull(row['Flying_Time']) else row['Flying_Time'], axis=1)

/usr/local/lib/python3.10/dist-packages/numpy/core/fromnumeric.py:3474: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/usr/local/lib/python3.10/dist-packages/numpy/core/_methods.py:189: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

In [34]:
result_dict2 = test.groupby('Distance')['Flying_Time'].apply(get_mode).to_dict()

# DistanceÏóê ÎåÄÏùëÎêòÎäî Í∞íÏúºÎ°ú Flying_TimeÏùò Í≤∞Ï∏°Ïπò Ï±ÑÏö∞Í∏∞
test['Flying_Time'] = test.apply(lambda row: result_dict2[row['Distance']]
                                   if pd.isnull(row['Flying_Time']) else row['Flying_Time'], axis=1)

/usr/local/lib/python3.10/dist-packages/numpy/core/fromnumeric.py:3474: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/usr/local/lib/python3.10/dist-packages/numpy/core/_methods.py:189: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)
/usr/local/lib/python3.10/dist-packages/numpy/core/fromnumeric.py:3474: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/usr/local/lib/python3.10/dist-packages/numpy/core/_methods.py:189: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

In [35]:
### Í≤∞Ï∏°Ïπò Ï±ÑÏö∞Í∏∞

train['Estimated_Arrival_Time'] = train['Estimated_Arrival_Time'].fillna(train['Flying_Time'] + train['Estimated_Departure_Time'])
train['Estimated_Departure_Time'] = train['Estimated_Departure_Time'].fillna(train['Estimated_Arrival_Time'] - train['Flying_Time'])

train.loc[:, 'Estimated_Arrival_Time'] = train['Estimated_Arrival_Time'].apply(lambda x: x - 1440 if x > 1440 else x)
train.loc[:, 'Estimated_Departure_Time'] = train['Estimated_Departure_Time'].apply(lambda x: x - 1440 if x > 1440 else x)

In [36]:
test['Estimated_Arrival_Time'] = test['Estimated_Arrival_Time'].fillna(test['Flying_Time'] + test['Estimated_Departure_Time'])
test['Estimated_Departure_Time'] = test['Estimated_Departure_Time'].fillna(test['Estimated_Arrival_Time'] - test['Flying_Time'])

test.loc[:, 'Estimated_Arrival_Time'] = test['Estimated_Arrival_Time'].apply(lambda x: x - 1440 if x > 1440 else x)
test.loc[:, 'Estimated_Departure_Time'] = test['Estimated_Departure_Time'].apply(lambda x: x - 1440 if x > 1440 else x)

In [37]:
# ÎπÑÌñâÏãúÍ∞Ñ Î≥ÄÏàòÎäî ÎçîÏù¥ÏÉÅ ÌïÑÏöî ÏóÜÏúºÎØÄÎ°ú Ï†úÍ±∞

train = train.drop('Flying_Time', axis = 1)
test = test.drop('Flying_Time', axis = 1)

In [38]:
train.head(3)

,Month,Estimated_Departure_Time,Estimated_Arrival_Time,Origin_Airport_ID,Destination_Airport_ID,Distance,Airline,Carrier_ID(DOT),Tail_Number,Delay,Holiday
1,08,460,624.0,13930,14869,1250.0,SkyWest Airlines Inc.,20304.0,N125SY,None,0
2,09,970,1085.0,11057,12953,544.0,American Airlines Inc.,19805.0,N103US,None,1
3,07,545,1055.0,12892,11618,2454.0,United Air Lines Inc.,NaN,N595UA,None,0

In [39]:
test.head(3)

,Month,Estimated_Departure_Time,Estimated_Arrival_Time,Origin_Airport_ID,Destination_Airport_ID,Distance,Airline,Carrier_ID(DOT),Tail_Number,Holiday
0,12,716.0,779.0,12266,14683,191.0,United Air Lines Inc.,NaN,N79402,0
1,09,900.0,1035.0,11618,10397,746.0,Delta Air Lines Inc.,19790.0,N3765,0
2,03,960.0,1155.0,13930,12953,733.0,United Air Lines Inc.,19977.0,N413UA,0

### **(b) Airline & Carrier_ID(DOT)**
- Îç∞Ïù¥ÌÑ∞ ÏÑ§Î™ÖÏùÑ ÌÜµÌï¥, ```Airline```Í≥º ```Carrier_ID(DOT)```Îäî ÏùºÎåÄÏùº ÎåÄÏùëÎêòÎäî Í≤ÉÏùÑ ÌôïÏù∏Ìï† Ïàò ÏûàÏùå
> ```Airline```ÏùÑ ÌôúÏö©ÌïòÏó¨ ```Carrier_ID``` Ï±ÑÏö∞Í∏∞

In [40]:
### Í≤∞Ï∏°Ïπò Ï≤òÎ¶¨Î•º Ìï† Ïàò ÏûàÎäî Îç∞Ïù¥ÌÑ∞ Í∞úÏàò ÌååÏïÖÌïòÍ∏∞
# AirlineÏùÄ ÏûàÍ≥† Carrier_ID(DOT)Îäî ÏóÜÎäî Í≤ΩÏö∞

print(len(train.loc[train['Carrier_ID(DOT)'].isnull() & train['Airline'].notnull(), :]))
print(len(test.loc[test['Carrier_ID(DOT)'].isnull() & test['Airline'].notnull(), :]))

86564
97463

In [41]:
### AirlineÍ≥º Carrier_ID Ïó∞Í≤∞ÌïòÍ∏∞
# key: Airline. Value: Carrier_ID

result_dict3 = {}

# Îç∞Ïù¥ÌÑ∞Î•º ÌñâÎ≥ÑÎ°ú Ï°∞ÌöåÌïòÎ©¥ÏÑú Ïó∞Í≤∞
for _, row in train[train['Carrier_ID(DOT)'].notnull() & train['Airline'].notnull()].iterrows():
  result_dict3[row['Airline']] = row['Carrier_ID(DOT)']

train['Carrier_ID(DOT)'] = train.apply(lambda row: result_dict3.get(row['Airline'], None)
                                        if pd.isnull(row['Carrier_ID(DOT)']) else row['Carrier_ID(DOT)'], axis=1)

In [42]:
result_dict4 = {}

# Îç∞Ïù¥ÌÑ∞Î•º ÌñâÎ≥ÑÎ°ú Ï°∞ÌöåÌïòÎ©¥ÏÑú Ïó∞Í≤∞
for _, row in test[test['Carrier_ID(DOT)'].notnull() & test['Airline'].notnull()].iterrows():
  result_dict4[row['Airline']] = row['Carrier_ID(DOT)']

test['Carrier_ID(DOT)'] = test.apply(lambda row: result_dict4.get(row['Airline'], None)
                                        if pd.isnull(row['Carrier_ID(DOT)']) else row['Carrier_ID(DOT)'], axis=1)

In [43]:
# trainÏùò Í≤ΩÏö∞ Ïó¨Ï†ÑÌûà Carrier_ID(DOT)Ïóê Í≤∞Ï∏°ÏπòÍ∞Ä ÏûàÎäî Îç∞Ïù¥ÌÑ∞Îäî ÏÇ≠Ï†ú

train = train.dropna(subset = ['Carrier_ID(DOT)'],
                     how = 'any', axis = 0)

In [44]:
# testÏùò Í≤ΩÏö∞ Ïó¨Ï†ÑÌûà Carrier_ID(DOT)Ïóê Í≤∞Ï∏°ÏπòÍ∞Ä ÏûàÎäî Îç∞Ïù¥ÌÑ∞Ïùò Í≤ΩÏö∞ ÏµúÎπàÍ∞íÏúºÎ°ú ÎåÄÏ≤¥

nan_idx = test[test['Carrier_ID(DOT)'].isnull()].index
carrier_mode = test['Carrier_ID(DOT)'].mode().values[0]
test.loc[nan_idx, 'Carrier_ID(DOT)'] = carrier_mode

In [45]:
# Airline Î≥ÄÏàòÎäî Îçî Ïù¥ÏÉÅ ÌïÑÏöî ÏóÜÏúºÎØÄÎ°ú ÏÇ≠Ï†ú

train = train.drop('Airline', axis = 1)
test = test.drop('Airline', axis = 1)

In [46]:
train.head()

,Month,Estimated_Departure_Time,Estimated_Arrival_Time,Origin_Airport_ID,Destination_Airport_ID,Distance,Carrier_ID(DOT),Tail_Number,Delay,Holiday
1,08,460,624.0,13930,14869,1250.0,20304.0,N125SY,None,0
2,09,970,1085.0,11057,12953,544.0,19805.0,N103US,None,1
3,07,545,1055.0,12892,11618,2454.0,19977.0,N595UA,None,0
4,01,540,619.0,14771,10157,250.0,20304.0,N161SY,None,0
5,04,945,1011.0,11618,11278,199.0,20452.0,N657RW,Not_Delayed,0

In [47]:
test.head()

,Month,Estimated_Departure_Time,Estimated_Arrival_Time,Origin_Airport_ID,Destination_Airport_ID,Distance,Carrier_ID(DOT),Tail_Number,Holiday
0,12,716.0,779.0,12266,14683,191.0,19977.0,N79402,0
1,09,900.0,1035.0,11618,10397,746.0,19790.0,N3765,0
2,03,960.0,1155.0,13930,12953,733.0,19977.0,N413UA,0
3,05,1160.0,1245.0,13796,12892,337.0,19393.0,N905WN,0
4,07,1155.0,1312.0,11697,12892,2343.0,20409.0,N945JT,1

### **Í≤∞Ï∏°Ïπò ÌôïÏù∏**

In [48]:
# Í≤∞Ï∏°ÏπòÏóê ÎåÄÌïú ÏöîÏïΩ Ï†ïÎ≥¥ Ïû¨ÌôïÏù∏

# train
missing_values = missing_values_table(train)
missing_values

ÏÑ†ÌÉùÎêú Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏùÄ 10Í∞úÏùò Î≥ÄÏàòÎ•º Í∞ÄÏßÄÍ≥† ÏûàÏäµÎãàÎã§.
Ïù¥Îïå Í≤∞Ï∏°Ïπò(missing value)Î•º Í∞ÄÏßÄÎäî Î≥ÄÏàòÏùò Í∞úÏàòÎäî 2Í∞ú ÏûÖÎãàÎã§.

                        Missing Values  % of Total Values
Delay                           655893               74.5
Estimated_Arrival_Time               1                0.0

In [49]:
# test

missing_values2 = missing_values_table(test)
missing_values2

ÏÑ†ÌÉùÎêú Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏùÄ 9Í∞úÏùò Î≥ÄÏàòÎ•º Í∞ÄÏßÄÍ≥† ÏûàÏäµÎãàÎã§.
Ïù¥Îïå Í≤∞Ï∏°Ïπò(missing value)Î•º Í∞ÄÏßÄÎäî Î≥ÄÏàòÏùò Í∞úÏàòÎäî 1Í∞ú ÏûÖÎãàÎã§.

                        Missing Values  % of Total Values
Estimated_Arrival_Time               2                0.0

In [50]:
# Ïó¨Ï†ÑÌûà Í≤∞Ï∏°ÏπòÍ∞Ä Ï°¥Ïû¨Ìï®(ÏΩîÎìú Ï°∞Í∏à ÏûòÎ™ª Ïß† ÎìØ)
# Ìï¥Îãπ Í≤∞Ï∏°ÏπòÎäî ÏÜåÏàòÏù¥ÎØÄÎ°ú Í∑∏ÎÉ• Ï†úÍ±∞Ìï¥Ï§ÄÎã§.

train = train.dropna(subset = ['Estimated_Arrival_Time'],
                     how = 'any', axis = 0)
test = test.dropna(subset = ['Estimated_Arrival_Time'],
                     how = 'any', axis = 0)

## **2-3. Î≥ÄÏàò ÌòïÌÉú ÌôïÏù∏**

In [51]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 880390 entries, 1 to 999999
Data columns (total 10 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Month                     880390 non-null  object
 1   Estimated_Departure_Time  880390 non-null  int64
 2   Estimated_Arrival_Time    880390 non-null  float64
 3   Origin_Airport_ID         880390 non-null  int64
 4   Destination_Airport_ID    880390 non-null  int64
 5   Distance                  880390 non-null  float64
 6   Carrier_ID(DOT)           880390 non-null  float64
 7   Tail_Number               880390 non-null  object
 8   Delay                     224498 non-null  object
 9   Holiday                   880390 non-null  int64
dtypes: float64(3), int64(4), object(3)
memory usage: 73.9+ MB

In [52]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 999998 entries, 0 to 999999
Data columns (total 9 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Month                     999998 non-null  object
 1   Estimated_Departure_Time  999998 non-null  float64
 2   Estimated_Arrival_Time    999998 non-null  float64
 3   Origin_Airport_ID         999998 non-null  int64
 4   Destination_Airport_ID    999998 non-null  int64
 5   Distance                  999998 non-null  float64
 6   Carrier_ID(DOT)           999998 non-null  float64
 7   Tail_Number               999998 non-null  object
 8   Holiday                   999998 non-null  int64
dtypes: float64(4), int64(3), object(2)
memory usage: 76.3+ MB

In [67]:
### Îç∞Ïù¥ÌÑ∞Ìòï Î≥ÄÍ≤Ω
# Îç∞Ïù¥ÌÑ∞ÌòïÏùÑ Ï†ÅÏ†àÌïú ÌòïÌÉúÎ°ú Î≥ÄÍ≤Ω

train = train.astype({'Month':'int64', 'Estimated_Arrival_Time':'int64', 'Carrier_ID(DOT)':'int64'})
test = test.astype({'Estimated_Departure_Time':'int64', 'Estimated_Arrival_Time':'int64', 'Carrier_ID(DOT)':'int64','Month':'int64'})

In [54]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 880390 entries, 1 to 999999
Data columns (total 10 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Month                     880390 non-null  int64
 1   Estimated_Departure_Time  880390 non-null  int64
 2   Estimated_Arrival_Time    880390 non-null  int64
 3   Origin_Airport_ID         880390 non-null  int64
 4   Destination_Airport_ID    880390 non-null  int64
 5   Distance                  880390 non-null  float64
 6   Carrier_ID(DOT)           880390 non-null  int64
 7   Tail_Number               880390 non-null  object
 8   Delay                     224498 non-null  object
 9   Holiday                   880390 non-null  int64
dtypes: float64(1), int64(7), object(2)
memory usage: 73.9+ MB

In [55]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 999998 entries, 0 to 999999
Data columns (total 9 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Month                     999998 non-null  int64
 1   Estimated_Departure_Time  999998 non-null  int64
 2   Estimated_Arrival_Time    999998 non-null  int64
 3   Origin_Airport_ID         999998 non-null  int64
 4   Destination_Airport_ID    999998 non-null  int64
 5   Distance                  999998 non-null  float64
 6   Carrier_ID(DOT)           999998 non-null  int64
 7   Tail_Number               999998 non-null  object
 8   Holiday                   999998 non-null  int64
dtypes: float64(1), int64(7), object(1)
memory usage: 76.3+ MB

In [56]:
train.describe()

,Month,Estimated_Departure_Time,Estimated_Arrival_Time,Origin_Airport_ID,Destination_Airport_ID,Distance,Carrier_ID(DOT),Holiday
count,880390.000000,880390.000000,880390.000000,880390.000000,880390.000000,880390.000000,880390.000000,880390.000000
mean,6.945966,815.599928,905.878090,12696.513123,12702.091538,784.093085,19997.696396,0.187453
std,3.462980,294.684627,314.642283,1514.450326,1515.082800,590.567670,404.151468,0.390275
min,1.000000,1.000000,1.000000,10135.000000,10135.000000,16.000000,19393.000000,0.000000
25%,4.000000,565.000000,665.000000,11292.000000,11292.000000,350.000000,19790.000000,0.000000
50%,7.000000,813.000000,922.000000,12889.000000,12889.000000,623.000000,19977.000000,0.000000
75%,10.000000,1062.000000,1163.000000,14057.000000,14057.000000,1020.000000,20378.000000,0.000000
max,12.000000,1439.000000,1440.000000,16869.000000,16869.000000,5095.000000,21171.000000,1.000000

- ÏùºÎ∂Ä Îç∞Ïù¥ÌÑ∞Ïóê ÎåÄÌï¥ Ïù¥ÏÉÅÏπòÍ∞Ä Ï°¥Ïû¨Ìï®ÏùÑ ÌôïÏù∏Ìï† Ïàò ÏûàÏùå

## **2-4. Î≤îÏ£ºÌòï Î≥ÄÏàò Encoding**
- ÎåÄÎ∂ÄÎ∂ÑÏùò Î≤îÏ£ºÌòï Î≥ÄÏàòÎì§Ïù¥ ÏàòÏπòÌòïÏúºÎ°ú Ïûò Ï≤òÎ¶¨ÎêòÏñ¥ ÏûàÎã§.
- Ï∂îÍ∞ÄÏ†ÅÏúºÎ°ú Î≥ÄÌôòÏù¥ ÌïÑÏöîÌïú Î≥ÄÏàòÎì§Ïóê ÎåÄÌï¥ **Label Encoding** ÏßÑÌñâ
- Í≤∞Ï∏°ÏπòÍ∞Ä Ï°¥Ïû¨ÌïòÎäî Í≤ΩÏö∞ EncodingÏù¥ Î∂àÍ∞ÄÎä•
  - DelayÏùò Í≤ΩÏö∞ ÎùºÎ≤®ÎßÅ ÌõÑ Encoding ÏßÑÌñâ ÏòàÏ†ï

In [57]:
from sklearn.preprocessing import LabelEncoder

cat = ['Tail_Number']

le = LabelEncoder() # Í∞ùÏ≤¥ ÏÉùÏÑ±
for i in cat:
  le = le.fit(train[i])
  train[i]=le.transform(train[i])

  for label in np.unique(test[i]):
    if label not in le.classes_:
      le.classes_ = np.append(le.classes_, label)
  test[i] = le.transform(test[i])

In [58]:
train.head(3)

,Month,Estimated_Departure_Time,Estimated_Arrival_Time,Origin_Airport_ID,Destination_Airport_ID,Distance,Carrier_ID(DOT),Tail_Number,Delay,Holiday
1,8,460,624,13930,14869,1250.0,20304,310,None,0
2,9,970,1085,11057,12953,544.0,19805,140,None,1
3,7,545,1055,12892,11618,2454.0,19977,3016,None,0

In [59]:
test.head(3)

,Month,Estimated_Departure_Time,Estimated_Arrival_Time,Origin_Airport_ID,Destination_Airport_ID,Distance,Carrier_ID(DOT),Tail_Number,Holiday
0,12,716,779,12266,14683,191.0,19977,4382,0
1,9,900,1035,11618,10397,746.0,19790,1934,0
2,3,960,1155,13930,12953,733.0,19977,2144,0

## **2-5. Ïù¥ÏÉÅÏπò Ï≤òÎ¶¨**
- IQR ÌôúÏö©

In [60]:
train.shape

(880390, 10)

In [61]:
# Ïù¥ÏÉÅÏπò Ï†úÍ±∞ Ìï®Ïàò
def remove_outliers_iqr(df, threshold = 1.5):
  for column in df.select_dtypes(include=np.number).columns:
    q1 = df[column].quantile(0.25)
    q3 = df[column].quantile(0.75)
    iqr = q3 - q1
    cutoff = iqr * threshold # Ï£ºÎ°ú IQR * 1.5Î•º ÏûÑÍ≥ÑÍ∞íÏúºÎ°ú ÏÑ§Ï†ï

    lower_bound = q1 - cutoff
    upper_bound = q3 + cutoff

    df = df[(df[column] >= lower_bound) & (df[column] <= upper_bound)]

  return df

In [62]:
train = remove_outliers_iqr(train)
train.shape

(675015, 10)

### **2-6. Ï†ÑÏ≤òÎ¶¨ ÌååÏùº Ï†ÄÏû•**

In [63]:
train.head(3)

,Month,Estimated_Departure_Time,Estimated_Arrival_Time,Origin_Airport_ID,Destination_Airport_ID,Distance,Carrier_ID(DOT),Tail_Number,Delay,Holiday
1,8,460,624,13930,14869,1250.0,20304,310,None,0
4,1,540,619,14771,10157,250.0,20304,554,None,0
5,4,945,1011,11618,11278,199.0,20452,3430,Not_Delayed,0

In [64]:
test.head(3)

,Month,Estimated_Departure_Time,Estimated_Arrival_Time,Origin_Airport_ID,Destination_Airport_ID,Distance,Carrier_ID(DOT),Tail_Number,Holiday
0,12,716,779,12266,14683,191.0,19977,4382,0
1,9,900,1035,11618,10397,746.0,19790,1934,0
2,3,960,1155,13930,12953,733.0,19977,2144,0

In [65]:
train.to_parquet('train_pre.parquet', engine = 'pyarrow')

In [66]:
test.to_parquet('test_pre.parquet', engine = 'pyarrow')